<div class="modal">
    <div class="row modal_header">
            <div class="col-10" ng-click="closeHelp()"><i class="ion-ios-close-outline"></i></div>
            <div class="col-80">Help</div>
    </div>
    <div class="help_text">
        This is a companion app for Claimony.com. Use it to collect your credits whie gaming and to keep track of rewards. More Features will follow. In the mean time, check out claimony.com for full access.
        <br><br>
    </div>
    <div class="modal_footer" ng-click="closeHelp()">
        OK, GOT IT!
    </div>
</div>
